html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: red;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    width: 150 px;
    text-decoration: underline;
}